html {
  font-family: var(--typography-font-family-hanken-grotesk);
  font-size: var(--typography-font-size-body);
  font-weight: var(--typography-font-weight-medium);
}

h1,
h2,
h3 {
  font-weight: var(--typography-font-weight-extra-bold);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}
