@font-face {
  font-family: "Hanken Grotesk";
  src:
       url('../../../public/assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: var(--typography-font-size-body);
  font-weight: var(--typography-font-weight-medium);
}

h1,
h2,
h3 {
  font-weight: var(--typography-font-weight-extra-bold);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}
